<%- include("../includes/head.ejs") %> 
<link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include("../includes/navigation.ejs") %> 
    <main>
        <form class="product-form" action="/admin/<% if(edit){ %>edit-product<% }else{ %>add-product<% } %>" method="POST">
                <% if(edit){%>
                    <input type="hidden" name="id" id="id" value="<%= product.id %>">    
                <%} %> 
                <div class="form-control">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" value="<% if(edit) {%><%=product.title%><%} %>">
                </div>
                <div class="form-control">
                    <label for="imageUrl">Image Url</label>
                    <input type="text" name="imageUrl" id="imageUrl" value="<% if(edit) {%><%=product.imageUrl%><%} %>">
                </div>
                <div class="form-control">
                    <label for="price">Price</label>
                    <input type="text" name="price" id="price" value="<% if(edit) {%><%=product.price%><%} %>">
                </div>
                <div class="form-control">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" rows="5" step=""0.01><% if(edit) {%><%=product.description%><%} %></textarea>
                </div>
                <button class="btn" type="submit"><% if(edit){ %>Update Product<% }else{ %>Add Product<% } %></button>
            </form>
        </main>
<%- include("../includes/end.ejs") %> 